/***** COMMON *****/

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Roboto, Helvetica, Arial sans-serif;
    font-size: 19px;
    color: #333;
}

h1 {
    font-size: 1.25rem;
}

.navbar, .filters, .conferences {
    padding-left: 30px;
    padding-right: 30px;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

/***** NAVBAR *****/

nav li {
    font-size: .875rem;
    font-weight: bold;
}

.slogan {
    font-size: .8rem;
}

.subscription {
    margin-left: 3rem;
    padding-top: .7rem;
    padding-bottom: 0;
}

.subscription button {
    background-color: #E37B40;
    border: none;
}


/***** FILTERS *****/

.filters {
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    padding-top: .75rem;
    border-right: 1px solid #ececec;
}

.filters a {
    text-decoration: none;
}

.filter-group {
    margin-bottom: 2rem;
}

.filter {
    border: 1px solid #e3e3e3;
    text-align: center;
    font-size: .8rem;
    text-transform: uppercase;
    padding: .5rem 0;
    border-radius: 5px;
    font-weight: 900;
    /*background-color: #df3a5b;*/
    color: #324D5C;
    background-color: #f1f1f1;
    cursor: pointer;
}

.filter:hover {
    text-decoration: none;
    background-color: #e8e8e8;
}

.filters .month {
    border: 1px solid #e3e3e3;
    font-size: .7rem;
    border-right: none;
}

.months .filter {
    border-radius: 0;
}

.months .col-md-1:first-of-type .month {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.months .col-md-1:last-of-type .month {
    border-right: 1px solid #e3e3e3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.filters input {
    font-size: .9rem;
}

.filter.button.active {
    background-color: #e6616d;
    color: #fff;
}

.months {
    padding: 0 15px;
}

.months > div {
    padding: 0;
}

/***** CONFERENCES *****/

.conferences {
    position: absolute;
    top: 120px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}

.conference {
    border-bottom: 1px solid #ececec;
    padding: .75rem 0;
}

.conference .name {
    color: #DE5B49;
}

.conference .location {
    font-size: .85rem;
    color: #324D5C !important;
}

.conference .date {
    font-size: .8rem;
    padding: .5rem 0;
}

.conference .cost {
    font-size: .8rem;
}

.conference .weather {
    padding: .5rem 0;
    text-align: center;
}

.conference .temperature {
    font-size: .75rem;
}

a.conference {
    color: #333;
    display: block;
}

a.conference:hover {
    text-decoration: none;
}

.conference .session {
    font-size: .85rem;
    background-color: #df3136;
    padding: 0.4rem;
    border-radius: 4px;
}

.conference .details {
    background: #f1f1f1;
    min-height: 4rem;
    border-radius: 5px;
    color: #444;
}

.conference-details {
    line-height: 1.5rem;
    padding: .5rem 0;
    margin-top: 1rem;
    font-size: .8rem;
}

/***** FOOTER *****/

footer {
    background: red;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    /*position: absolute;*/
    /*bottom: 0px; left: 0;*/
}

